.container {
width: 90%;
margin: auto;
display: grid;
/* grid-auto-columns:20%; */
grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px auto 200px; 
  column-gap: 30px;
  row-gap: 15px;
}

.bm0{
  font-family: 'Times New Roman', Times, serif;
  background-color: teal;
  padding: 10%;
  grid-auto-columns:80%;
  grid-column: 1 / span 3;
}
h1{
  font-size: larger;
  font-weight: bolder;

  text-align: center;
  grid-column: 1 / span 3;
}
h2{
  font-size: larger;
  text-align: left; 
  grid-column: 1 / span 3;
}
.bm1{
  background-color: blueviolet;
  display: flex;
  grid-row: 3/3;
  justify-self: left;
  
}
.bm2{
  background-color: blue;
  display: flex;
  grid-row: 3/3;
  justify-self: center;
}
.bm3{
  background-color: green;
  display: flex;
  grid-row: 3/3;
  justify-self: right;
}